

$o-color-palettes: map-merge($o-color-palettes,
   (
      'base_custom': (
         'o-color-1':                    #F8B500,
         'o-color-2':                    #112D4E,
         'o-color-3':                    #f2f2f2,
         'o-color-4':                    #ffffff,
         'o-color-5':                    #000000,
      ),
   )
);

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'base_custom');

$o-website-values-palettes: (
   (
      'color-palettes-name':              'base_custom',
   ),
);

