// ------------------------------------------------------------------
// Poppins
// ------------------------------------------------------------------
$poppins-font-path: '../font/Poppins';

@mixin poppins-font($type, $weight, $style) {
    @font-face {
        font-family: 'Poppins';
        src: url('#{$poppins-font-path}/Poppins-#{$type}.eot');
        src: url('#{$poppins-font-path}/Poppins-#{$type}.eot?#iefix') format('embedded-opentype'),
             url('#{$poppins-font-path}/Poppins-#{$type}.ttf') format('truetype'),
             url('#{$poppins-font-path}/Poppins-#{$type}.svg#Poppins') format('svg');
        font-weight: $weight;
        font-style: $style;
    }

    @font-face {
        font-family: 'poppins-#{$type}';
        src: url('#{$poppins-font-path}/Poppins-#{$type}.eot');
        src: url('#{$poppins-font-path}/Poppins-#{$type}.eot?#iefix') format('embedded-opentype'),
             url('#{$poppins-font-path}/Poppins-#{$type}.ttf') format('truetype'),
             url('#{$poppins-font-path}/Poppins-#{$type}.svg#Poppins') format('svg');
    }
}

@mixin poppins-font-pair($type, $weight) {
    @include poppins-font('#{$type}', $weight, normal);
    // @include poppins-font('#{$type}Italic', $weight, italic);
}



@include poppins-font-pair('Light', 300);
@include poppins-font-pair('Regular', 400);
@include poppins-font-pair('Semibold', 600);
@include poppins-font-pair('Bold', 700);
@include poppins-font-pair('Extrabold', 800);