.fc table {
    border-collapse: collapse !important;
    border-spacing: 0px !important;
    font-size: smaller !important;
}
.fc {
    border-collapse: collapse !important;
    border-spacing: 0px !important;
    font-size: smaller !important;
}
.fc-theme-bootstrap5 .fc-list, .fc-theme-bootstrap5 .fc-scrollgrid, .fc-theme-bootstrap5 td, .fc-theme-bootstrap5 th {
    border: 0px solid var(--bs-gray-400) !important;
}
.fc .fc-popover{
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control::before, 
table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control::before {
    border: none !important;
    font-family: FontAwesome !important;
    content: "\f0fe" !important;
    color: #a8dadc !important;
    font-size: 20px;
}

table.dataTable.dtr-inline.collapsed > tbody > tr.dtr-expanded > td.dtr-control::before, 
table.dataTable.dtr-inline.collapsed > tbody > tr.dtr-expanded > th.dtr-control::before {
    border: none !important;
    font-family: FontAwesome !important;
    content: "\f146" !important;
    color: #a8dadc !important;
    font-size: 20px;
}